<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145342491942-7247l09le0malrav66squs8klhfnn1qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145342491942-7247l09le0malrav66squs8klhfnn1qj</string>
	<key>API_KEY</key>
	<string>AIzaSyCs4exUOWA_XhdzTb2XCljW53O5N4UKytQ</string>
	<key>GCM_SENDER_ID</key>
	<string>145342491942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.speakingincode.foostrainer</string>
	<key>PROJECT_ID</key>
	<string>foostrainer-79412</string>
	<key>STORAGE_BUCKET</key>
	<string>foostrainer-79412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145342491942:ios:deddeacf3566bc27dca5e7</string>
	<key>DATABASE_URL</key>
	<string>https://foostrainer-79412.firebaseio.com</string>
</dict>
</plist>